@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


/* ----- 초기값 ----- */
body {
    background-color: #141a24;
    color: #fff;
    line-height: 1.5;
}

button {
    border: 0;
    background-color: transparent;
}

.header .inner,
.footer .inner {
    max-width: 1536px;
    width: calc(100% - 96px);
    margin: 0 auto;
}

.main .inner {
    max-width: 1012px;
    width: calc(100% - 96px);
    margin: 0 auto;
}

.main .inner h3 {
    font-size: 37px;
    margin-bottom: 96px;
}

.main .inner h3 strong {
    display: block;
    /* </br>안해도 떨어짐 */
}


/* ----- 헤더 ----- */
.header {
    width: 100%;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    height: 36px;
}

.header .inner .logo a {
    height: 100%;
    display: block;
}

.header .inner .logo a img {
    height: 100%;
    display: block;
}

.header .inner .menu_open {
    height: 29px;
}

.header .inner .menu_open img {
    height: 100%;
}

.header .inner .nav {
    display: none;
}

/* ----- 메인 비주얼 ----- */
.main_visual {
    height: 100vh;
}

.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.main_visual .text {
    width: 100%;
    /* 화면 너비만큼 주고 텍스트 얼라인 하면 화면 가운데 옴 */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    /* 50%주고 하면 텍스트 길이 길어서 줄바꿈처리됨 */
    transform: translate(0, -50%);
}

.main_visual .text h2 {
    font-size: 95px;
}

.main_visual .text p {
    font-size: 40px;
}

.main_visual .visual_btn {
    max-width: 1536px;
    width: calc(100% - 96px);
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
}

.main_visual .visual_btn a {
    width: 288px;
    height: 72px;
    background-color: #0078ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main_visual .visual_btn a img {
    width: 18px;
}

.main_visual .visual_btn a span {
    font-size: 20px;
}


/* ----- 섹션 01 ----- */
.section-01 {
    padding: 160px 0 96px;
}

.section-01 .inner {}

.section-01 .inner h3 {}

.section-01 .inner .slides {
    position: relative;
}

.section-01 .inner .slides .list {}

.section-01 .inner .slides .list .item {
    width: 100%;
    height: 524px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    display: none;
}

.section-01 .inner .slides .list .item::before {
    /* 가상요소 선택자로 그라데이션 넣기 */
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 8.1);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
    position: absolute;
    top: 0;
    left: 0;
}

.section-01 .inner .slides .list .item.active {
    /* 아이템 중에 active만 보이도록 */
    display: block;
}

.section-01 .inner .slides .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-01 .inner .slides .list .item .text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px;
}

.section-01 .inner .slides .list .item .text strong {
    font-size: 33px;
}

.section-01 .inner .slides .list .item .text p {
    font-size: 18px;
    margin-top: 7px;
}

.section-01 .inner .slides .slide_navigation button {
    /* next, prev 버튼 설정 한번에 */
    width: 49px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section-01 .inner .slides .list .item .slide_navigation button img {
    width: 100%;
}

.section-01 .inner .slides .slide_navigation .next {
    right: 0;
}

.section-01 .inner .slides .slide_navigation .prev {
    left: 0;
}


/* ----- 섹션 02 ----- */
.section-02 {
    padding: 160px 0;
}

.section-02 .inner {}

.section-02 .inner h3 {}

.section-02 .inner strong {}

.section-02 .inner .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.section-02 .inner .list .item {
    width: 48.22%;
    /* 488/1012*100 */
    /* 가로/총너비*100 */

}

.section-02 .inner .list .item a {
    padding-bottom: 132.58%;
    /* 647/488*100 */
    /* 세로/가로*100 */
    border-radius: 16px;
    overflow: hidden;
    display: block;
    /* <a>는 원래 inline요소. block해줘야 너비높이 먹음 */
    position: relative;
}

.section-02 .inner .list .item a::before {
    /* 섹션2 아이템 hover - 배경색 */
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.section-02 .inner .list .item:hover a::before {
    /* 섹션2 아이템 hover - 배경색 나오도록*/
    display: block;
}

.section-02 .inner .list .item a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.section-02 .inner .list .item a .text_wrap {
    width: 100%;
    height: 100%;
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-02 .inner .list .item a .text_wrap .text {}

.section-02 .inner .list .item a .text_wrap .text strong {
    font-size: 33px;
}

.section-02 .inner .list .item a .text_wrap .text p {
    font-size: 18px;
}

.section-02 .inner .list .item a .text_wrap .item_btn {
    display: flex;
    justify-content: flex-end;
}

.section-02 .inner .list .item a .text_wrap .item_btn img {}

.section-02 .inner .list .item:hover a .text_wrap .item_btn img.before {
    /* 섹션2 아이템 hover - 기존 버튼 사라지도록*/
    display: none;
}

.section-02 .inner .list .item a .text_wrap .item_btn img.after {
    /* 섹션2 아이템 - 디폴트로 안보이도록 */
    display: none;
}

.section-02 .inner .list .item:hover a .text_wrap .item_btn img.after {
    /* 섹션2 아이템 hover - 기존 대신 나타나도록 */
    display: block;
    z-index: 1;
}


/* ----- 섹션 03 ----- */
.section-03 {
    height: 250px;
    position: relative;
}
.section-03 a {}
.section-03 a::before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.section-03 a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-03 a .text_wrap {
    width: 100%;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-03 a .text_wrap strong {
    font-size: 33px;
}

.section-03 a .text_wrap .btn {
    height: 75px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 0 31px;
    margin-top: 20px;
}
.section-03 a .text_wrap .btn .span {
    font-size: 20px;
}
.section-03 a .text_wrap .btn img {}


/* ----- 푸터 ----- */
.footer {}
.footer .inner {}
.footer .inner .info_wrap {}
.footer .inner .info_wrap .address {}
.footer .inner .info_wrap .address .footer_logo {}
.footer .inner .info_wrap ul {}
.footer .inner .info_wrap ul li {}
.footer .inner .info_wrap ul li a {}
.footer .inner .info_wrap .sns {}
.footer .inner .info_wrap .sns li {}
.footer .inner .info_wrap .sns li a {}
.footer .inner .info_wrap .sns li a img {}
.footer .inner .footer_nav {}
.footer .inner .footer_nav .gnb {}
.footer .inner .footer_nav .gnb li {}
.footer .inner .footer_nav .gnb li .depth-01 {}
.footer .inner .footer_nav .gnb li .depth-02 {}
.footer .inner .footer_nav .gnb li .depth-02 li {}
.footer .inner .footer_nav .gnb li .depth-02 li a {}