@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    background-color: #141a24;
    color: #fff;
}

button {
    border: 0;
    background-color: transparent;
}

.header {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header .inner {
    max-width: 1536px;
    width: calc(100% - 96px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    width: 128px;
}

.header .inner .logo img {
    width: 100%;
}

.header .inner .nav_btn {
    width: 32px;
}

.header .inner .nav_btn img {
    width: 100%;
}

.header .inner .nav { /* 맨위로 오지가 않음 */
    width: 556px;
    height: 100%;
    padding: 40px;
    background-color: rgb(38 47 60);
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.header .inner .nav.active {
    transform: translateX(0);
}

.header .inner .nav .close_btn {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.header .inner .nav .close_btn img {
    width: 26px;
}

.header .inner .nav .gnb {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header .inner .nav .gnb li {
    font-size: 24px;
    color: #99a1b1;
}

.header .inner .nav .gnb li:nth-child(6) {
    padding-bottom: 25px;
    border-bottom: 1px solid #99a1b1;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main .main_visual {
    width: 100%;
    height: 100%;
}

.main .main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main .text strong {
    font-size: 95px;
}

.main .text p {
    font-size: 40px;
}

.main .app {
    width: 1536px;
    height: 132px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main .app .main_btn {
    width: 228px;
    height: 72px;
    border-radius: 10px;
    background-color: #0078ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.5px;
}

.main .app .main_btn img {
    width: 15.5px;
}

.main .app .main_btn p {
    font-size: 20px;
}

.sec-01 {
    max-width: 872px;
    width: 100%;
    height: 484px;
    margin: 0 auto;
    padding: 160px 0 96px;
}

.sec-01 h2 {
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 96px;
}

.sec-01 .sec01swiper .swiper-slide {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.sec-01 .sec01swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec-01 .sec01swiper .swiper-slide .text {
    position: absolute;
    top: 48px;
    left: 48px;
}
.sec-01 .sec01swiper .swiper-slide .text h3 {
    font-size: 33px;
    margin-bottom: 7px;
}
.sec-01 .sec01swiper .swiper-slide .text p {
    font-size: 18px;
}

/* 기존 내비 없애기 */
.sec-01 .swiper-button-next:after,
.sec-01 .swiper-button-prev:after {
    display: none;
}

/* 내비 새로 지정 */
.sec-01 .swiper-button-prev,
.sec-01 .swiper-rtl .swiper-button-next {}

.sec-01 .swiper-button-next,
.sec-01 .swiper-rtl .swiper-button-prev {}